body{
    background-color:#171A34;
    font-family: 'Roboto Condensed', sans-serif;
    color: #E6E4F7;
    text-align: justify;
    background-image: url(https://www.shutterstock.com/shutterstock/videos/1069631707/thumb/1.jpg?ip=x480);
    margin: 15px;
    font-size: 20px;
}

.indice{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

.indice a{
    text-decoration:underline;
    color: #A8C7CF;
    font-family: 'Ysabeau Office', sans-serif;
}

.imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    width: 15%;
    margin: 25px;
    border-radius: 10px;
}

.espacio{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    text-align: center;
    font-family: 'Mynerve', cursive;
    font-size: 100px;
    color: #C8AEE7;
}

.title-top{
    color: #2C69A9;
    font-family: 'Ysabeau Office', sans-serif;
}

.title-misiones{
    color: #2C69A9;
    font-family: 'Ysabeau Office', sans-serif;
}

h3{
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 40px;
    color: #907DBD;
    text-align: center;

}



